@import 'variables';

.button {
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
  transition: all ease-in 250ms;
  min-width: 100px;
  color: $neutral-100;
  &.primary {
    background-color: $primary-800;

    &:hover {
      background-color: $primary-400;
    }
  }

  &.secondary {
    background-color: $secondary-800;

    &:hover {
      color: var(-marine-blue);
      background-color: $secondary-400;
    }
  }

  &:disabled, &:disabled:hover {
    background-color: $neutral-300;
    color: $neutral-100;
  }
}
