// COLORS
$primary-800: hsl(190, 100%, 23%);
$primary-400: hsl(190, 100%, 43%);
$primary-300: hsl(190, 70%, 63%);
$primary-200: hsl(190, 70%, 83%);

$secondary-800: hsl(219, 31%, 29%);
$secondary-400: hsl(219, 31%, 49%);


$neutral-400: hsl(231, 11%, 63%);
$neutral-300: hsl(229, 24%, 87%);
$neutral-200: hsl(217, 100%, 97%);
$neutral-100: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

// FONT
$font-family: 'Source Sans Pro', sans-serif;
$font-size: 16px;

$min-width: 340px;
$desktop-max:1440px;
